.service-box {
    width: 320px;
    font-family: cursive;
    background-color:white;
    border-radius: 20px;
    padding-bottom: 30px;
    margin: 20px auto;
    text-align:center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); /*Tạo hiệu ứng bóng mờ*/
}

.section {
    background-color:aqua;
    padding: 25px;
    font-size: 10px;
    position: relative; /*đặt làm mốc*/
    border-radius: 20px 20px 0 0;
}

.hot {
    background-color: red;
    color:white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    right:5px;
}

.info {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #eee; /*Dòng kẻ ngang*/
}   

.highlight {
    color:lawngreen;
}

.booking {
    background-color: aqua;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer; /*tạo con trò khi di chuột vào*/
    margin-top: 10px;
    text-align:center;
}

.booking:hover {
    background-color: #00c8e6;
    transform: scale(1.05);
}