.banner {
    width: 100%;             
    height: 150px;
    color: black;
    text-align: center;
    align-items: center; 
    background-color: #1eff29;
}

.section {
    text-align: center;
}