.header {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;  
    text-align: center;   
    color: #6c63ff;
}

.nav {
    font-size: 15px;
    margin-left: 20px;
    text-align: center;  
    padding-top: 17px;
}

.nav a {
    text-decoration: none;
    color:black;
    font-weight: 500;
    margin: 0 15px;
}

.nav a:hover {
    color: rgb(10, 71, 255);
}

.stat-btn {
    padding-top: 10px;
}

.btn {
    border: none;
    border-radius: 5px;
    color:white;
    background-color: rgb(13,110,250);
    padding: 10px 15px;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,123,255,0.3);
}