body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

section {
    text-align: center;
}

.blue {
    color: #1E90FF;
    text-align: center;
}

.doctor {
    background-color: #e6f7ff; /* Màu nền xanh nhạt rực rỡ */
    display: inline-block;
    width: 100%;
}

.doctor-name {
    color: #1E90FF;
    margin: 10px 0 5px 0;
}