body { 
    font-family: sans-serif; 
    background-color: hsl(216, 33%, 97%); 
    padding: 20px; 
    text-align: center; 
}

.section { 
    text-align: center; 
    margin-bottom: 30px; 
    color: black; 
    display: flex;

}

.header {
    display: flex;
    justify-content: center;
}

.gird {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #f8fafc;
    padding: 30px 10px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.stat-item:hover { transform: translateY(-5px); }

.icon { 
    font-size: 30px; 
    margin-bottom: 15px; 
}

.number {
    font-size: 28px; 
    font-weight: bold; 
    color: #6366f1;
    margin-bottom: 5px;
}

.lablel { 
    color: #64748b; 
    font-size: 14px;
}

@media (max-width: 768px) {
    .stat-item {
        flex: 1 1 calc(45% - 20px); 
    }
    
    .price {
        font-size: 18px; 
    }
}