.feedback-container {
    width: 450px;                                 
    margin: 30px auto;                            
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    color: #00796b;                                
    text-align: center;                            
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;      
}                     

label {
    display: block;                              
    font-weight: bold;                             
    color: #263238;                               
    margin-bottom: 8px;                           
}


input, select, textarea {
    width: 100%;                                   
    padding: 12px;                                 
    border: 1px solid #cfd8dc;                    
    border-radius: 6px;                            
    font-size: 14px;
    box-sizing: border-box;                       
}

textarea {
    height: 120px;                                
    resize: none;                                 
}

.btn-submit {
    width: 100%;
    background-color: #009688;                    
    color: white;                                  
    border: none;
    padding: 15px;
    border-radius: 6px;                           
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;                            
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #00796b;         
}          