.section {
    display: flex;
    justify-content: center;
}

.service-box {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    text-align:center;
}